<!DOCTYPE html>
<html lang="pt-br">
<head>
  <link rel="stylesheet" href="/styles/partials/copyright.css">
</head>
<body>
  <section class="copyright">
		<p class="copyright__text">
			design: <strong>danilobatista®</strong> | desenvolvimento: <strong> Geek ::</strong>  Aliomar Lopes Neto | Renan Costa | Danilo Batista | <strong> © Disney © Disney • Pixar © & ™ Lucasfilm LTD © 2022 MARVEL.  Reservados todos os direitos de marca para Disney Entertainment</strong>
		</p>
	</section>
</body>
</html>