<head>
    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/partials/footer.css">
</head>

<header>
    <button id="hamburguer-menu"><img src="/images/icons/hamburger-menu.svg" alt="hamburguer-menu"></button> 
    <a href="/"><img src="/images/brands/disney-logo.svg" alt="logo" id="disney-logo"></a>
    <ul id="list-navbar">
        <li><a href="#">Clássicos</a></li>
        <li><a href="#">Marvel</a></li>
        <li><a href="#">Princesas</a></li>
        <li><a href="#">StarWars</a></li>
    </ul>
    <div id="search-area">
        <input type="text" placeholder="Deseja encontrar?">
        <button><img src="/images/icons/lupa.svg" alt="lupa"></button>
    </div>
    <div id="nav-bar">
        <div id="buttons-div">
            <button id="search-button"><img src="/images/icons/search-icon.svg" alt="search-button"></button>
            <button id="login-button">Login</button>
            <a id="cart-icon" href="#"><img src="/images/icons/cart-icon.svg" alt="cart-icon"></a>
        </div>
    </div>

    
   
    <script src="/scripts/header.js"></script>
</header>

