<section class="main-footer">
  <fieldset class="payments">
    <legend class="payments__title">Formas de pagamento</legend>
    <div class="payments__methods">
      <img src="/images/brands/koin.webp" alt="Logotipo Koin." />
      <img src="/images/brands/pix.svg" alt="Logotipo Pix." />
      <img src="/images/brands/boleto.svg" alt="Logotipo Boleto." />
      <img src="/images/brands/mastercard.svg" alt="Logotipo Mastercard." />
      <img src="/images/brands/visa.svg" alt="Logotipo Visa." />
      <img src="/images/brands/picpay.svg" alt="Logotipo PicPay." />
      <img src="/images/brands/ame-digital.svg" alt="Logotipo Ame." />
    </div>
  </fieldset>
  <fieldset class="security">
    <legend class="security__title">Segurança</legend>
    <div class="security_methods">
      <div class="security_methods--brands">
        <img src="/images/brands/google-safe-browsing.svg" alt="Logotipo Google Safe Browsing." />
      </div>
    </div>
  </fieldset>
</section>