.carousel {
    margin-top: 20px;
    margin-bottom: 20px;
}

.products__banner__title {
    background-color: var(--disney-lightgray);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 72px;
}

.products__banner__title h2 {
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 36px;
    color: var(--disney-lightblack);
}

.products__banner__buttons {
    gap: 0.4rem;
}

.products__banner__img {
    width: 100%;
    height: 80px;
}

.products__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 4rem 0;
}

.products__card__area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.products__card__img {
    width: 176px;
    height: 176px;
}

#back-button {
    position: absolute;
    left: 22px;
    top: 165px;
}

#next-button {
    position: absolute;
    right: 22px;
    top: 165px;
}

.products__card__info {
    width: 176px;
    height: 198px;
    background-color: var(--disney-lightgray);
    border-radius: 0 0 8px 8px;
    padding: 1.2rem 1rem 0 1rem;
}

.products__card__info a {
    text-decoration: none;
    color: var(--disney-lightblack);
    font-family: "Avenir Next";
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.products__card__info p {
    color: var(--disney-lightblack);
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin: 20px 0 0 0;

}

#real {
    font-size: 20px;
    line-height: 27px;
    color: var(--disney-lightblack);
}

.products__card__info span {
    color: var(--disney-mediumgray);
    font-family: "Avenir Next";
    font-weight: 700;
    font-size: 14px;
}

.products__banner__buttons--see-more {
    display: none;
}

.products__banner__buttons--go-top {
    display: none;
}

.products__card__item {
    cursor: pointer;
}

.products__card__item--768px {
    display: none;
    cursor: pointer;
}

.products__card__item--1440px {
    display: none;
    cursor: pointer;
}



.products__card__item:hover,
.products__card__item--768px:hover,
.products__card__item--1440px:hover {
    transition: all 0.4s ease-in-out;
    box-shadow: 1px 4px 15px rgba(38, 38, 38, 0.2);
    border: 1px solid var(--disney-lightgray);
    border-radius: 10px;
    background-color: var(--disney-white);
}

@media(min-width:768px) {
    .products__banner__buttons--see-more {
        display: block;
        text-decoration: none;
        font-family: "Avenir Next";
        font-size: 16px;
        font-weight: 700;
        color: var(--disney-medium2blue);
        margin-right: 1rem;
    }

    .products__banner__buttons--see-more span {
        font-family: "Avenir Next";
        font-size: 16px;
        font-weight: 900;
    }

    .products__banner__buttons--go-top {
        display: block;
        text-decoration: none;
        font-family: "Avenir Next";
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        color: var(--disney-medium2blue);
    }

    .products__banner__buttons {
        display: flex;
        align-items: center;
    }

    .products__banner__img {
        height: 116px;
        width: 90%;
        border-radius: 0 0 8px 8px;
    }

    .products__banner__title {
        width: 90%;
        border-radius: 8px 8px 0 0;
    }

    .products__banner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .products__card {
        flex-direction: row;
        justify-content: center;
    }

    .products__card__area {
        display: flex;
        justify-content: center;
        gap: 22px;
    }

    .products__card__item--768px {
        display: block;
    }

    #back-button img,
    #next-button img {
        width: 40px;
        height: 40px;
    }

    #back-button {
        left: 24px;
    }

    #next-button {
        right: 24px;
    }

}

@media(min-width:1440px) {
    .products__banner__img {
        width: 75%;
        height: 160px;
    }

    .products__banner__title {
        width: 75%;
        justify-content: space-between;
        padding: 2rem;
    }

    .products__card__item--1440px {
        display: block;
    }

    .products__card__area {
        display: flex;
        justify-content: center;
        gap: 32px;
    }

    #back-button {
        left: 164px;
    }

    #next-button {
        right: 164px;
    }
}