.copyright {
  display: flex;
  justify-content: center;
  
  width: 100vw;

  background: var(--disney-white);
}

.copyright__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  align-content: center;

  width: 80vw;
  
  color: #464646;
}